<h1>Registration</h1>

<form method="post" action="/registration">
    <table>
        <tr>
            <td>First Name:</td>
            <td><input type="text" name="firstName" value="{{firstName}}"></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" name="lastName" value="{{lastName}}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" name="email" value="{{email}}"></td>
        </tr>
        <tr>
            <td>Grade:</td>
            <td><input type="text" name="grade" value="{{grade}}"></td>
        </tr>
        <tr>
            <td>Shirt Size:</td>
            <td>
                <select name="shirtSize" value="{{shirtSize}}">
                    <option>--- pick only one ---</option>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Hackerrank Username:</td>
            <td><input type="text" name="hrUsername" value="{{hrUsername}}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Continue"></td>
        </tr>
    </table>
    <p>{{errmsg}}</p>
</form>